.symbol-button {
  width: 5vw;
  height: 7vh;
  background-color: #48464C;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.symbol-button:hover {
  background-color: #EC6302;
}
