.symbol-display {
  width: 90%;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.symbol-item {
  width: 5.5vw; 
  height: 8.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BFBAB5;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 0.5rem;
  cursor: pointer;
  

}

.symbol-item:hover{
  background-color: #48464C;
  color: white;
}

.placeholder-display {
  border: 1px dotted black;
  background-color: #BFBAB5;
  opacity: 0.2;
}
.placeholder-display:hover {
  background-color:#BFBAB5 ;
}